.bg {
  background-image: url("fond.jpg");
  position: fixed;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* L'img background ne bouge pas au scroll/zomm... */
}
